<p><%= @user.name %>様</p>

<p>いつもPokemonISeeをご利用いただきありがとうございます。</p>

<p>パスワードのリセットを希望されましたので、以下のリンクより新しいパスワードを設定してください。</p>

<p>
  <a href="<%= @reset_url %>">パスワードをリセットする</a>
</p>

<p>このリンクの有効期限は2時間です。</p>

<p>心当たりがない場合は、このメールを無視してください。</p>

<p>今後ともPokemonISeeをよろしくお願いいたします。</p>
