<p><%= @user.name %>様</p>

<p>いつもPokemonISeeをご利用いただきありがとうございます。</p>

<p>パスワードの変更をご希望されましたので、以下のリンクより新しいパスワードを設定してください。</p>

<p>
  <a href="<%= @url %>">パスワード変更をする</a>
</p>
<p>心当たりがない場合は、このメールを破棄してください。</p>

<p>今後ともPokemonISeeをよろしくお願いいたします。</p>
