<div class="container flex-grow px-5 py-24 mt-24 mx-auto bg-white">
  <div class="flex flex-wrap w-full flex-col items-center text-center">
    <h2 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">シングルバトル</h2>
    <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">シングルバトルの構築記事一覧です</p>
  </div>
</div>
