<div class="container flex-grow mx-auto p-6 md:flex mt-[124px]">
  <div class="flex flex-col items-center">
    <h1 class="text-[120px] font-extrabold text-gray-700">500</h1>
    <p class="text-2xl font-medium text-gray-600 mb-6">Internal Server Error</p>
    <p class="text-lg text-gray-600 mb-6">
      お探しのページは一時的にアクセスできない状況にあるか、移動もしくは削除された可能性があります。URLやファイル名にタイプミスがないか再度ご確認ください。
    </p>
    <%= link_to 'トップページに戻る', root_path, class: 'px-6 py-2 font-medium text-white bg-indigo-500 rounded-md hover:bg-indigo-600 transition duration-200' %>
  </div>
</div>
