.pagy {
  display: flex;
  justify-content: end;
  font-family: sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #0275d8;
  margin: 15px 0;
}

.pagy> :not([hidden])~ :not([hidden]) {
  --space-reverse: 0;
  margin-right: calc(0.25rem * var(--space-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--space-reverse)));
}

.pagy a:not(.gap) {
  display: block;
  text-decoration: none;
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;
  background-color: #ffffff;
  padding: 0.25rem 0.5rem;
  color: #1f2937;
  text-align: center;
  font-size: 0.75rem;
  outline: none;
  transition: background-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.pagy a:not(.gap):hover {
  background-color: #f3f4f6;
}

.pagy a:not(.gap):not([href]) {
  cursor: default;
  background-color: #e5e7eb;
  color: #9ca3af;
}

.pagy a:not(.gap).current {
  background-color: #4f46e5;
  color: white;
}

.pagy label {
  white-space: nowrap;
  display: inline-block;
  border-radius: 0.375rem;
  background-color: #ffffff;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  border: 1px solid #d1d5db;
}

.pagy label input {
  line-height: 1.5rem;
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;
  background-color: #f9fafb;
  padding: 0.25rem 0.5rem;
}

.pagy a:first-child::after {
  content: '前へ';
  margin-left: 0.5rem;
}

.pagy a:last-child::before {
  content: '次へ';
  margin-right: 0.5rem;
}
